{% extends 'base.html' %}
{% block content %}
        <h2 class="section-heading">We've got what you need!</h2>
        <hr class="light">
            {% for device in devices.all %}
            <div class="row">
                <h2> {{ device.device_name }} </h2> 
                <h4 align="left"> Device ID: {{ device.id }} </h4>
                <h4 align="left"> Device Name: {{ device.device_name }} </h4> 
                <h4 align="left"> Serial Number: {{ device.serial_num }} </h4>
                <h4 align="left"> IP Address: {{ device.ip_addr }} </h4>
                <h4 align="left"> Location: {{ device.location }} </h4>
                <h4 align="left"> Current State: {{ device.current_state}} </h4>
            </div>
            {% endfor %}
{% endblock %}
