{% extends 'base.html' %}
{% block header %}
<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Your smart home power management system</h1>
      <hr>
      <p>The optimum way to manage your home power usage</p>
      <a href="#devices" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<h2 class="section-heading">Household Linked Devices</h2>
<hr class="light">
<a href="{% url 'devices:list' %}"><h4 align="left"> All Device Information </h4></a>

<div id="devices">
  {% for device in devices.all %}
  <a href="{% url 'devices:detail' device.id %}"><h3 align="left"> {{ device.device_name }} </h3> </a>
  <div class="onoffswitch">
    <form>
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{ device.id }}" value="{{ device.device_name }}" {% if device.current_state.state == "on" %}checked{% endif %}>
      <label class="onoffswitch-label" for="{{ device.id }}">
        <span class="onoffswitch-inner" onclick=""></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </form>
  </div>
  {% endfor %}
</div->
<script type="text/javascript">
  // Automatically sends a POST to the server when the checkbox is clicked
  var $ = jQuery;
  var chk = $('input[type="checkbox"]');
  chk.change(function(){ 
  var checkbox = $(this);
  var v = $(this).is(':checked')?'on':'off';
  console.log(checkbox)
  //$(this).next('input[type="hidden"]').val(v);
  $.post('/devices/' + checkbox.attr('id') + '/change-state', {'state': v}, function(response){
  console.log(response)
  checkbox.attr('checked', response == "on" ? true : false); 
  });
  });
</script>

{% endblock content %}
